@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 100% !important;
  width: 90%;
  margin: auto;
}
.header .wrap {
  max-width: 90%;
}
.header .logo {
  width: 100px;
}
.header .burgher-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.header .burgher-menu .bar {
  height: 5px;
  background-color: #42dcd4;
  transition: 0.4s;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transition-duration: 1s;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
}
.header .burgher-menu .bar:nth-child(1) {
  width: 70%;
}
.header .burgher-menu .bar:nth-child(2) {
  width: 100%;
}
.header .burgher-menu .bar:nth-child(3) {
  width: 50%;
}

.burgher-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.burgher-nav ul {
  width: 90%;
  padding: 25px;
  background: #232349;
  color: #d3d3db;
  font-family: "Open Sans", sans-serif;
  display: none;
}
.burgher-nav ul .item {
  line-height: 40px;
}
.burgher-nav ul .item:nth-child(1)::after, .burgher-nav ul .item:nth-child(3)::after {
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.burgher-nav ul .item:last-child {
  color: #42dcd4;
  text-transform: uppercase;
  font-weight: bold;
}
.burgher-nav ul .secondary-item {
  line-height: 40px;
}
.burgher-nav ul .secondary-item:nth-child(2) {
  color: #42dcd4;
}

.jumbotron {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../img/particels.png);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.jumbotron .wrap {
  width: 90%;
  margin: auto;
}
.jumbotron .wrap h1 {
  font-size: 3em;
  padding: 10px 0px 5px 0px;
}
.jumbotron .wrap h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.jumbotron .wrap p {
  font-size: 1.6em;
  padding: 40px 0px 40px 0px;
  text-transform: uppercase;
}
.jumbotron .sponsor {
  width: 100%;
  position: absolute;
  bottom: -5px;
  text-align: center;
}
.jumbotron .sponsor span {
  text-transform: uppercase;
  background: #42dcd4;
  padding: 40px 40px;
}
.jumbotron .sponsor span::after {
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}

.first-section {
  width: 90%;
  margin: 80px auto 0px auto;
  font-family: "Open Sans", sans-serif;
}
.first-section h3 {
  font-weight: bold;
  color: #232349;
  font-size: 1.8;
  margin-bottom: 30px;
}
.first-section p {
  color: #444444;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.first-section img {
  max-width: 100%;
  object-fit: cover;
  margin: 40px 0px -2px 0px;
}

.second-section {
  background-image: url(../img/second-section.png);
  object-fit: cover;
  width: 100%;
  padding: 70px 0px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.second-section .wrap {
  width: 90%;
  margin: 0px auto;
}
.second-section .wrap h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bolder;
}
.second-section .wrap p {
  line-height: 1.5em;
}

.third-section {
  width: 90%;
  margin: 0px auto;
  font-family: "Open Sans", sans-serif;
  padding: 70px 0px;
}
.third-section h3 {
  font-weight: bolder;
  color: #232349;
  font-size: 1.8em;
  margin: 30px 0px;
  text-transform: uppercase;
}
.third-section .number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #42dcd4;
  font-size: 1.8em;
  font-weight: bolder;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 40px 0px 20px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.third-section p {
  color: #444444;
  line-height: 30px;
}

.newsletter {
  background: #e9f2f2;
  padding: 40px 0px;
  font-family: "Open Sans", sans-serif;
}
.newsletter .wrap {
  margin: 0 auto;
  width: 90%;
}
.newsletter .wrap h3 {
  font-weight: bolder;
  color: #232349;
  font-size: 1.8em;
  margin: 30px 0px;
  text-transform: uppercase;
}
.newsletter .wrap p {
  color: #444444;
  line-height: 25px;
}
.newsletter .wrap .form {
  margin: 20px 0px;
}
.newsletter .wrap .form .input {
  width: 100%;
  border: 2px solid #42dcd4;
  padding: 20px;
  font-size: 1.4em;
}
.newsletter .wrap .form .input::placeholder {
  color: #42dcd4;
  opacity: 1;
  /* Firefox */
}
.newsletter .wrap .form .input-name {
  border-bottom: 1px solid #42dcd4;
}
.newsletter .wrap .form .input-email {
  border-top: 1px solid #42dcd4;
}
.newsletter .wrap .form .input-checkbox {
  -webkit-box-shadow: 0px 0px 0px 1px #232349;
  -moz-box-shadow: 0px 0px 0px 1px #232349;
  box-shadow: 0px 0px 0px 1px #232349;
}
.newsletter .wrap .form .privacy {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=screen.css.map */
