/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body, html {
  position: relative;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.lock {
  position: fixed;
}

.body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
}
.header .wrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header .logo {
  max-width: 270px;
}
.header .menu-laptop .primary {
  right: -100%;
  transition-duration: 1s;
  z-index: 3;
  top: 80px;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  background: #232349;
  color: #fff;
  padding: 30px;
  min-height: 500px;
  width: 88%;
}
.header .menu-laptop .primary .link-item:last-child {
  color: #42dcd4 !important;
  text-transform: uppercase;
}
.header .menu-laptop .primary .link-item :hover:before {
  content: "";
  position: absolute;
  bottom: 13px;
  width: 100%;
  height: 5px;
  background: #42dcd4;
  opacity: 0.4;
}
.header .menu-laptop .primary .link-item .item {
  line-height: 35px;
}
.header .menu-laptop .primary .link-item:nth-child(1) .item:after {
  content: ">";
  display: inline-block;
  font-weight: 500;
  transform: rotate(90deg);
}
.header .menu-laptop .primary .secondary {
  opacity: 0;
  height: 0;
  margin-left: 20px;
  transition-duration: 0.05s;
}
.header .menu-laptop .primary .secondary .link-secondary {
  line-height: 40px;
}
.header .menu-laptop .primary .secondary .link-secondary:nth-child(2) {
  color: #42dcd4;
}
.header .visibile {
  opacity: 1 !important;
  height: auto !important;
  transition-duration: 0.5s;
  padding: 10px 0px;
}
.header .show {
  right: 0% !important;
  transition-duration: 1s;
}
.header .burgher-menu {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.header .burgher-menu .bar {
  height: 5px;
  background-color: #42dcd4;
  transition: 0.4s;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transition-duration: 1s;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
}
.header .burgher-menu .bar:nth-child(1) {
  width: 70%;
}
.header .burgher-menu .bar:nth-child(2) {
  width: 100%;
}
.header .burgher-menu .bar:nth-child(3) {
  width: 50%;
}

.nav-start {
  transform: translateX(0%) !important;
  transition-duration: 0.5s;
}

.nav-end {
  transform: translate(100%) !important;
  transition-duration: 0.5s;
}

.jumbotron {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.jumbotron .wrap {
  width: 90%;
}
.jumbotron .wrap h1 {
  font-size: 3em;
  padding: 10px 0px 5px 0px;
  font-weight: 700;
}
.jumbotron .wrap h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
}
.jumbotron .wrap p {
  font-size: 1.6em;
  padding: 40px 0px 40px 0px;
  text-transform: uppercase;
}
.jumbotron .wrap .sponsor {
  width: 90%;
  position: absolute;
  bottom: -10px;
  text-align: center;
  z-index: 2;
}
.jumbotron .wrap .sponsor span {
  text-transform: uppercase;
  background: #42dcd4;
  padding: 30px 20px;
  font-size: 1.5em;
  z-index: 2;
}
.jumbotron .wrap .sponsor span::after {
  margin-left: 5px;
  content: ">>";
  font-weight: lighter;
  font-size: 1em;
}

.first-section {
  font-family: "Open Sans", sans-serif;
}
.first-section .wrap {
  width: 90%;
}
.first-section .wrap .box {
  margin-top: 80px;
}
.first-section .wrap .box p {
  color: #444444;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.first-section .wrap .box .box-scopri {
  display: none;
}
.first-section .wrap img {
  max-width: 100%;
  width: 90% !important;
  object-fit: cover;
  margin: 40px 0px -2px 0px;
  margin-top: 50px !important;
}

.second-section {
  background-image: url(../img/second-section.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding: 70px 0px;
}
.second-section .wrap {
  width: 90%;
}
.second-section .wrap h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 700;
}
.second-section .wrap p {
  line-height: 1.5em;
}

.third-section {
  font-family: "Open Sans", sans-serif;
  padding: 70px 0px;
}
.third-section .wrap {
  width: 90%;
}
.third-section .wrap .number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #42dcd4;
  font-size: 1.6em;
  font-weight: 700;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 40px 0px 20px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.third-section .wrap p {
  color: #444444;
  line-height: 30px;
}

.location {
  display: none;
}

.partner {
  display: none;
}

.newsletter {
  background: #e9f2f2;
  font-family: "Open Sans", sans-serif;
  padding: 40px 0px;
}
.newsletter .wrap {
  width: 90%;
}
.newsletter .wrap .subscribe-laptop {
  display: block;
  position: relative;
}
.newsletter .wrap .subscribe-laptop .input-submit {
  width: 100%;
  margin-top: 20px;
  background: #232349;
  color: #fff;
  border: 0px;
  font-size: 2em;
  text-transform: uppercase;
  padding: 30px;
  font-weight: 700;
  text-align: left;
}
.newsletter .wrap .subscribe-laptop .arrow {
  position: absolute;
  right: 18px;
  top: 65px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.newsletter .wrap .subscribe-laptop .arrow .line {
  transform: scale(0.8);
  margin-right: -8px;
}
.newsletter .wrap .subscribe-laptop .arrow .line .first,
.newsletter .wrap .subscribe-laptop .arrow .line .second {
  width: 20px;
  height: 4px;
  background: #fff;
}
.newsletter .wrap .subscribe-laptop .arrow .line .first {
  transform: rotate(47deg);
  border-radius: 3px 0px 0px 3px;
}
.newsletter .wrap .subscribe-laptop .arrow .line .second {
  transform: rotate(-45deg);
  margin-top: 7.5px;
  border-radius: 3px 0px 0px 3px;
}
.newsletter .wrap p {
  color: #444444;
  line-height: 25px;
}
.newsletter .wrap .form {
  margin: 20px 0px;
}
.newsletter .wrap .form .input {
  width: 100%;
  border: 2px solid #42dcd4;
  padding: 28px 20px;
  font-size: 1.4em;
  background: transparent;
}
.newsletter .wrap .form .input:focus {
  outline: none !important;
  border-color: #42dcd4;
  box-shadow: 0 0 2px #42dcd4;
}
.newsletter .wrap .form .input-name {
  border-bottom: 1px solid #42dcd4;
}
.newsletter .wrap .form .input-email {
  border-top: 1px solid #42dcd4;
}
.newsletter .wrap .form .append {
  position: relative;
}
.newsletter .wrap .form .append p {
  position: absolute;
  line-height: 20px;
  top: 32px;
  left: 20px;
  color: #42dcd4;
  transition-duration: 0.5s;
}
.newsletter .wrap .form .append .up {
  top: 8px !important;
  font-size: 0.7em;
  color: #232349;
  font-weight: 700;
  transition-duration: 0.5s;
}
.newsletter .wrap .form .input-checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  border: 3px solid #232349;
  cursor: pointer;
  padding: 5px;
}
.newsletter .wrap .form .input-checkbox:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: #232349;
  transition: all 0.4s;
  opacity: 0;
}
.newsletter .wrap .form .input-checkbox:checked:before {
  opacity: 1;
}
.newsletter .wrap .form .privacy {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}
.newsletter .wrap .form .privacy-text span {
  color: #232349;
  text-transform: uppercase;
  font-weight: 700;
}
.newsletter .wrap .form .privacy-text p {
  font-size: 0.7em;
  line-height: 20px;
}

.contacts {
  padding: 50px 0px;
}
.contacts .wrap {
  width: 90%;
}
@media screen and (min-width: 850px) and (max-width: 959px) {
  .contacts .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .contacts .wrap .square {
    width: 32% !important;
  }
  .contacts .wrap address {
    font-size: 0.91em !important;
  }
  .contacts .wrap h5 {
    font-size: 1.1em !important;
  }
}
.contacts .wrap p {
  color: #444444;
  line-height: 25px;
}
.contacts .wrap address {
  background: #e9f2f2;
  margin-bottom: 20px;
  padding: 25px;
  color: #232349;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 30px;
  word-wrap: break-word;
  width: 100% !important;
}
.contacts .wrap address h5 {
  color: #42dcd4;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  line-height: 30px;
}

.footer {
  background: #42dcd4;
  padding: 50px 0px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.footer .wrap {
  width: 90%;
  margin: 0 auto;
  color: #232349;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .wrap .box-text-footer {
  width: 100%;
}
.footer .wrap .box-text-footer .text {
  margin: 30px 0px;
  font-weight: 700;
  line-height: 25px;
  font-size: 1.1em;
  word-wrap: break-word;
  text-align: left;
}
.footer .wrap .cookie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.footer .wrap .cookie a {
  color: #232349;
}
.footer .wrap .cookie a:nth-child(1) p:after, .footer .wrap .cookie a:nth-child(2) p:after {
  content: "/";
  margin: 0px 10px;
}

@media screen and (min-width: 376px) and (max-width: 559px) {
  .nav-aside {
    width: 60% !important;
  }

  .contacts .wrap h3 {
    width: 100%;
  }
  .contacts .wrap .square {
    width: 100% !important;
    max-height: 230px !important;
  }
}
@media screen and (min-width: 560px) and (max-width: 959px) {
  .primary {
    max-width: 350px;
  }

  .jumbotron .sponsor span {
    position: relative;
    padding-right: 130px !important;
  }
  .jumbotron .sponsor span::after {
    margin-left: 5px;
    font-weight: light;
    content: ">>>>>" !important;
    font-weight: 500 !important;
    padding-left: 20px;
    margin-top: -8px;
    position: absolute;
    font-size: 1.7em !important;
  }

  .footer .box-text-footer {
    width: 50% !important;
  }

  .second-section {
    background-image: url(../img/background-xl.png) !important;
    background-size: cover;
  }

  .first-section h3 {
    font-size: 1.8em;
  }
  .first-section img {
    max-width: 60% !important;
  }

  .third-section {
    padding: 50px 0px 0px 0px;
  }
  .third-section .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .third-section .wrap h3 {
    width: 100%;
  }
  .third-section .wrap .box {
    width: 46%;
    min-height: 330px;
    margin-bottom: 0px;
  }

  .contacts .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .contacts .wrap h3 {
    width: 100%;
  }
  .contacts .wrap address {
    width: 48% !important;
    margin: 5px 0px;
    font-size: 0.9em;
  }

  .footer {
    padding: 30px 0px !important;
  }
  .footer .wrap {
    align-items: flex-end !important;
  }

  .newsletter .subscribe-laptop {
    position: relative;
  }
  .newsletter .subscribe-laptop .input-submit {
    padding: 30px !important;
    text-align: left;
  }
  .newsletter .subscribe-laptop .arrow {
    position: absolute;
    right: 18px;
    top: 65px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .newsletter .subscribe-laptop .arrow .line {
    transform: scale(0.8);
    margin-right: -8px;
  }
  .newsletter .subscribe-laptop .arrow .line .first,
.newsletter .subscribe-laptop .arrow .line .second {
    width: 20px;
    height: 4px;
    background: #fff;
  }
  .newsletter .subscribe-laptop .arrow .line .first {
    transform: rotate(47deg);
    border-radius: 3px 0px 0px 3px;
  }
  .newsletter .subscribe-laptop .arrow .line .second {
    transform: rotate(-45deg);
    margin-top: 7.5px;
    border-radius: 3px 0px 0px 3px;
  }
}
@media screen and (min-width: 960px) {
  .header .wrap {
    position: static !important;
  }
  .header .wrap .burgher-menu {
    display: none;
  }
  .header .wrap .primary {
    position: static !important;
    display: flex;
    background: #fff;
    height: auto;
    opacity: 1;
    transition-duration: 0s;
    color: #232349;
    font-size: 0.9em !important;
    min-height: auto !important;
    width: 100%;
  }
}
@media screen and (min-width: 960px) and (min-width: 1100px) {
  .header .wrap .primary {
    font-size: 1em !important;
  }
}
@media screen and (min-width: 960px) {
  .header .wrap .primary .link-item {
    color: #232349 !important;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header .wrap .primary .link-item:nth-child(1) {
    color: #42dcd4 !important;
  }
  .header .wrap .primary .link-item .item {
    font-size: 1em;
    margin-left: 10px;
  }
  .header .wrap .primary .link-item .item:first-of-type {
    position: relative;
  }
  .header .wrap .primary .link-item .item:last-child:hover {
    border-bottom: 0px;
    margin-right: 0px !important;
  }
}
@media screen and (min-width: 960px) {
  .header .wrap .primary .secondary {
    opacity: 0;
    height: 0;
    position: absolute;
    transition-duration: 0s;
    background: #232349;
    color: #fff;
    margin-left: 0px !important;
    top: 80px;
    z-index: 2;
    padding: 20px;
    margin-left: -10px !important;
  }
  .header .wrap .primary .secondary a {
    color: #fff !important;
  }
  .header .wrap .primary .secondary a:nth-child(2) {
    color: #42dcd4 !important;
  }
}
@media screen and (min-width: 960px) {
  .visibile {
    opacity: 1 !important;
    height: auto !important;
    transition-duration: 0.5s;
  }
}
@media screen and (min-width: 960px) {
  .block {
    opacity: 1 !important;
    transition-duration: 0.5s;
  }
}
@media screen and (min-width: 960px) {
  .jumbotron .wrap h1 {
    font-size: 5em;
    font-weight: 700;
  }
  .jumbotron .wrap h3 {
    font-size: 2.4em;
    font-weight: 200;
  }
  .jumbotron .wrap p {
    font-size: 2.2em;
  }
  .jumbotron .sponsor {
    width: 90%;
    max-width: 1200px;
    text-align: left !important;
    left: calc(50%-200px);
  }
  .jumbotron .sponsor span {
    position: relative;
    padding-right: 130px !important;
  }
  .jumbotron .sponsor span::after {
    margin-left: 5px;
    font-weight: light;
    content: ">>>>>" !important;
    font-weight: 500 !important;
    padding-left: 20px;
    margin-top: -8px;
    position: absolute;
    font-size: 1.7em !important;
  }
}
@media screen and (min-width: 960px) {
  .first-section .wrap {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0px 0px 0px;
  }
  .first-section .wrap .box {
    width: 50%;
    transform: translateY(-20%);
  }
  .first-section .wrap .box .box-scopri {
    border: 2px solid #42dcd4;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    margin-top: 40px;
    width: 230px;
    color: #42dcd4;
    transition-duration: 0.5s;
  }
  .first-section .wrap .box .box-scopri:hover {
    color: white;
    background: #42dcd4;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .first-section .wrap .box .box-scopri .scopri {
    text-transform: uppercase;
    display: block !important;
    font-weight: 700;
  }
  .first-section .wrap .box .box-scopri .arrow {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .first-section .wrap .box .box-scopri .arrow .line {
    transform: scale(0.5);
    margin-right: -11px;
  }
  .first-section .wrap .box .box-scopri .arrow .line:last-child {
    margin-right: 0px;
  }
  .first-section .wrap .box .box-scopri .arrow .line .first,
.first-section .wrap .box .box-scopri .arrow .line .second {
    width: 20px;
    height: 4px;
    background: #42dcd4;
  }
  .first-section .wrap .box .box-scopri .arrow .line .first {
    transform: rotate(47deg);
    border-radius: 3px 0px 0px 3px;
  }
  .first-section .wrap .box .box-scopri .arrow .line .second {
    transform: rotate(-45deg);
    margin-top: 7.5px;
    border-radius: 3px 0px 0px 3px;
  }
  .first-section .wrap img {
    margin: 0px;
    max-width: 47%;
    object-fit: contain;
  }
}
@media screen and (min-width: 960px) {
  .second-section {
    background-image: url(../img/background-xl.png) !important;
    background-size: cover;
  }
  .second-section .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .second-section .wrap .box-arrow {
    width: 10%;
  }
  .second-section .wrap .vertical-arrow {
    display: flex;
    transform: rotate(90deg);
    margin-top: -90px;
  }
  .second-section .wrap .vertical-arrow .line {
    margin-right: 15px;
    animation-name: vertical-arrow-animated;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .second-section .wrap .vertical-arrow .line:last-child {
    margin-right: 0px;
  }
  .second-section .wrap .vertical-arrow .line .first,
.second-section .wrap .vertical-arrow .line .second {
    width: 20px;
    height: 4px;
    background: #42dcd4;
  }
  .second-section .wrap .vertical-arrow .line .first {
    transform: rotate(47deg);
    border-radius: 0px;
  }
  .second-section .wrap .vertical-arrow .line .second {
    transform: rotate(-45deg);
    margin-top: 7.5px;
    border-radius: 0px;
  }
  .second-section .wrap .box-call-to-action {
    width: 80%;
  }
  .second-section .box-scopri {
    border: 2px solid #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    margin-top: 40px;
    width: 240px;
    font-weight: 700;
  }
  .second-section .box-scopri .scopri {
    text-transform: uppercase;
  }
  .second-section .box-scopri .arrow {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .second-section .box-scopri .arrow .line {
    transform: scale(0.5);
    margin-right: -8px;
  }
  .second-section .box-scopri .arrow .line:last-child {
    margin-right: 0px;
  }
  .second-section .box-scopri .arrow .line .first,
.second-section .box-scopri .arrow .line .second {
    width: 20px;
    height: 4px;
    background: #fff;
  }
  .second-section .box-scopri .arrow .line .first {
    transform: rotate(47deg);
    border-radius: 3px 0px 0px 3px;
  }
  .second-section .box-scopri .arrow .line .second {
    transform: rotate(-45deg);
    margin-top: 7.5px;
    border-radius: 3px 0px 0px 3px;
  }
}
@media screen and (min-width: 960px) {
  .third-section .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .third-section .wrap h3 {
    width: 100%;
  }
  .third-section .wrap .box {
    width: 30%;
    min-height: 330px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 960px) {
  .location {
    display: block !important;
    width: 100%;
    background: #e9f2f2;
    margin-bottom: 400px;
    padding: 50px 0px;
  }
  .location .wrap {
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .location .wrap .arrow {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .location .wrap .arrow .line {
    transform: scale(3);
    margin-right: 30px;
    animation-name: arrow-animated;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .location .wrap .arrow .line .first,
.location .wrap .arrow .line .second {
    width: 20px;
    height: 4px;
    background: #42dcd4;
  }
  .location .wrap .arrow .line .first {
    transform: rotate(47deg);
    border-radius: 3px 0px 0px 3px;
  }
  .location .wrap .arrow .line .second {
    transform: rotate(-45deg);
    margin-top: 7.5px;
    border-radius: 3px 0px 0px 3px;
  }
  .location .wrap .box {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .location .wrap .box img {
    width: 50px;
    object-fit: cover;
  }
  .location .wrap .box address {
    color: #42dcd4;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
  }
  .location .wrap .box p {
    font-weight: 300;
  }
  .location .wrap .box-img {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .location .wrap .box-img img {
    width: 33.3%;
    object-fit: contain;
  }
}
@media screen and (min-width: 960px) {
  .partner {
    display: block;
    margin-top: -145px;
  }
  .partner .arrow {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .partner .arrow .line {
    transform: scale(0.5);
    margin-right: -11px;
  }
  .partner .arrow .line:last-child {
    margin-right: 0px;
  }
  .partner .arrow .line .first,
.partner .arrow .line .second {
    width: 20px;
    height: 4px;
    background: #42dcd4;
  }
  .partner .arrow .line .first {
    transform: rotate(47deg);
    border-radius: 3px 0px 0px 3px;
  }
  .partner .arrow .line .second {
    transform: rotate(-45deg);
    margin-top: 7.5px;
    border-radius: 3px 0px 0px 3px;
  }
  .partner .wrap {
    width: 90%;
    padding: 0px 0px 60px 0px;
  }
  .partner .wrap .partner-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
  }
  .partner .wrap .partner-title h3 {
    font-weight: 700;
    color: #232349;
    font-size: 1.6em;
    text-transform: uppercase;
  }
  .partner .box-logo img {
    width: 18.5% !important;
    margin-right: 10px;
  }
}
@media screen and (min-width: 960px) {
  .newsletter {
    background: #fff;
    position: relative;
    margin-bottom: 550px;
  }
  .newsletter .wrap {
    background: linear-gradient(to right, #e9f2f2 82%, #fff 18%);
    padding: 50px;
    width: 90%;
    position: absolute;
    overflow: visible;
    left: calc(50% - 600px);
  }
  .newsletter .wrap p {
    max-width: 80%;
  }
  .newsletter .box-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .newsletter .box-input .input-name-email {
    display: flex;
    width: 65%;
  }
  .newsletter .box-input .append {
    width: 50%;
  }
  .newsletter .box-input .append p {
    top: 35px !important;
  }
  .newsletter .box-input .input {
    border: 2px solid #42dcd4 !important;
    padding: 30px !important;
  }
  .newsletter .box-input .input-name {
    border-right: 1px solid #42dcd4 !important;
  }
  .newsletter .box-input .input-email {
    border-left: 1px solid #42dcd4 !important;
  }
  .newsletter .box-input .subscribe-laptop {
    width: 30% !important;
    position: relative;
    display: block !important;
  }
  .newsletter .box-input .subscribe-laptop .input-submit {
    width: 100%;
    border: 0px;
    text-transform: uppercase;
    color: #fff;
    background: #232349;
    font-size: 1.8em;
    font-weight: 700;
    padding: 30px 20px;
    position: relative !important;
    text-align: left;
    top: -8px;
  }
  .newsletter .box-input .subscribe-laptop .arrow {
    position: absolute;
    right: 18px;
    top: 55px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .newsletter .box-input .subscribe-laptop .arrow .line {
    transform: scale(0.8);
    margin-right: -8px;
  }
  .newsletter .box-input .subscribe-laptop .arrow .line .first,
.newsletter .box-input .subscribe-laptop .arrow .line .second {
    width: 20px;
    height: 4px;
    background: #fff;
  }
  .newsletter .box-input .subscribe-laptop .arrow .line .first {
    transform: rotate(47deg);
    border-radius: 3px 0px 0px 3px;
  }
  .newsletter .box-input .subscribe-laptop .arrow .line .second {
    transform: rotate(-45deg);
    margin-top: 7.5px;
    border-radius: 3px 0px 0px 3px;
  }
  .newsletter .privacy {
    max-width: 80%;
  }
}
@media screen and (min-width: 960px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .footer .box-text-footer {
    width: 50% !important;
  }
  .footer .text {
    text-align: right !important;
  }
  .footer .cookie {
    justify-content: flex-end !important;
  }
}
#particles-js {
  background: linear-gradient(to right, #04817d, #42dcd4);
}

canvas.particles-js-canvas-el {
  position: absolute;
}

@keyframes arrow-animated {
  0% {
    opacity: 0.4;
    transform: translateX(0px) scale(2.4);
  }
  25% {
    opacity: 1;
    transform: translateX(20px) scale(3);
  }
  50% {
    opacity: 1;
    transform: translateX(20px) scale(3);
  }
  100% {
    opacity: 0.4;
    transform: translateX(0px) scale(2.4);
  }
}
@keyframes vertical-arrow-animated {
  0% {
    transform: translateX(0) scale(1.8);
  }
  50% {
    transform: translateX(50px) scale(1.8);
  }
  100% {
    transform: translateX(0px) scale(1.8);
  }
}
.wrap {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .newsletter .wrap {
    left: 5%;
  }
}
h3.title-section {
  font-weight: 700;
  color: #232349;
  font-size: 1.8em;
  margin: 20px 0px;
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=screen.css.map */
