@import 'reset';
@import 'variable';
@import 'mixins/flexbox'; //$direction, $justify,$align

//Header
.header{
    @include flexbox(row, space-between , center);
    height: 80px;
    max-width: 100% !important;
    width: 90%;
    margin: auto;
    
    .wrap{
        max-width: 90%;
    }
    
    .logo{
        width: 100px;
    }


    .burgher-menu{
        width:30px;
        height: 30px;
        @include flexbox(row, flex-end, center);
        
        .bar{
            height: 5px;
            background-color: $primary;
            transition: 0.4s;
            border-radius: 3px;
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transition-duration: 1s;
            -webkit-transform: rotate(0deg) translate(0px, 0px);

            &:nth-child(1){
                width: 70%;
            }
            &:nth-child(2){
                width: 100%;
            }
            &:nth-child(3){
                width: 50%;
            }
        }
    }
}

//Burgher Nav
.burgher-nav{
    max-width: 100vw;
    overflow-x: hidden !important;

    @include flexbox(row, flex-end, center);

    .nav-aside{
        width:88%; 
        padding: 25px;
        background: $dark-primary;
        min-height: 500px;
        color: $color-light;
        font-family: $font-primary;
        position: absolute;
        top: 80px;
        z-index: 1;
        transform: translateX(100%);

        
        .tab {
            position: relative;
            width: 100%;
            overflow: hidden;

            input {
                position: absolute;
                opacity: 0;
                z-index: -1;

                &:checked ~ .tab-content {
                    max-height: 100vh;
                }
            }

            label {
                position: relative;
                display: block;
                cursor: pointer;
                line-height: 40px;

                &::after{
                    margin-left: 5px;
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f107";
                    transform: rotate(90deg);
                }
            }
        .tab-content {
            max-height: 0;
            overflow: hidden;
            margin-left: 20px;
            line-height: 40px;
            -webkit-transition: max-height .35s;
            -o-transition: max-height .35s;
            transition: max-height .35s;
        }

        .secondary-item{
            :nth-child(2){
                color: $primary;
            }
        }
    }

        .item{
            line-height: 40px;

            &:nth-child(1), &:nth-child(3){
                &::after{
                    margin-left: 5px;
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f107";
                }
            }

           &:last-child{
                color: $primary;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .secondary-item{
            line-height: 40px;
            &:nth-child(2){
                color: $primary;
            }
        }
    }
}

.nav-start{
    transform: translateX(0%) !important;
    transition-duration: .5s;
}
.nav-end{
    transform: translate(100%) !important;
    transition-duration: .5s;
}





//Jumbotron
.jumbotron{
    width: 100%;
    height: 480px;
    @include flexbox(row, flex-start, center);
    background-image: url(../img/particels.png);
    background-size: cover;
    color: $color-white;
    font-family: $font-secondary;
    position: relative;

    
    .wrap{
        width: 90%;
        margin: auto;
        overflow-x: hidden !important;

        h1{
            font-size: 3em;
            padding: 10px 0px 5px 0px;
        }

        h3{
            font-size: 1.5em;
            text-transform: uppercase;
        }

        p{
            font-size: 1.6em;
            padding: 40px 0px 40px 0px;
            text-transform: uppercase;
            
        }
    }

    .sponsor{
        width: 100%;
        position: absolute;
        bottom: -10px;
        text-align: center;
        span{
            text-transform: uppercase;
            background: $primary;
            padding: 30px 20px;
            font-size: 1.5em;

            &::after{
                margin-left: 5px;
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f101";
            }
        }
    }
}



//First section
.first-section{
    width: 90%;
    margin: 80px auto 0px auto;
    font-family: $font-primary;
    
    h3{
        font-weight: bold;
        color: $dark-primary;
        font-size: 1.8;
        margin-bottom: 30px;
    }

    p{
        color: $color-dark;
        line-height: 1.5em;
        margin-bottom: 40px;        
    }
    


    img{
        max-width: 100%;
        object-fit: cover;
        margin: 40px 0px -2px 0px;
    }
}


//Second section
.second-section{
    background-image: url(../img/second-section.png);
    object-fit: cover;
    width: 100%;
    padding: 70px 0px;
    font-family: $font-primary;
    color: $color-white;

    .wrap{
        width: 90%;
        margin: 0px auto;

        h3{
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 2em;
            font-weight: bolder;
        }

        p{
            line-height: 1.5em;
        }
    }
}


//third-section
.third-section{
    width: 90%;
    margin: 0px auto;
    font-family: $font-primary;
    padding: 70px 0px;

    h3{
        font-weight: bolder;
        color: $dark-primary;
        font-size: 1.8em;
        margin:30px 0px;
        text-transform: uppercase;
    }

    .number{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        background: $primary;
        font-size: 1.8em;
        font-weight: bolder;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 40px 0px 20px 0px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    p{
        color: $color-dark;
        line-height: 30px;
    }
}


//newsletter
.newsletter{
    background:$background-primary;
    padding: 40px 0px;
    font-family: $font-primary;

    .wrap{
        margin: 0 auto;
        width: 90%;
        
        h3{
            font-weight: bolder;
            color: $dark-primary;
            font-size: 1.8em;
            margin:30px 0px;
            text-transform: uppercase;
        }

        p{
            color: $color-dark;
            line-height: 25px;
        }

        .form{
            margin: 20px 0px;
            
            .input{
                width: 100%;
                border: 2px solid $primary;
                padding: 20px;
                font-size: 1.4em;

                &::placeholder {
                    color: $primary;
                    opacity: 1; /* Firefox */
                  }
            }
            
            .input-name{
                border-bottom: 1px solid $primary;
            }
            
            .input-email{
                border-top: 1px solid $primary;
            }

            .append{
                position: relative;
                
                p{
                    position: absolute;
                    line-height: 20px;
                    top: 25px;
                    left: 20px;
                    color: $primary;
                }

                .up{
                    top: 4px !important;
                    font-size: .7em;
                }


            }

            .input-checkbox {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                width: 130px;
                height: 20px;
                position: relative;
                border: 3px solid $dark-primary;
                cursor: pointer;

                &:before{
                    content: '';
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    right: 0%;
                    bottom: 0%;
                    background-color: $dark-primary;
                    box-shadow: inset 0 0 0 1px #fff6;
                    transition: all .2s;
                    opacity: 0;
                }

                &:checked:before{
                    opacity: 1;
                }
            }
  

            .privacy{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
            .privacy-text{
                span{
                    color: $dark-primary;
                    text-transform: uppercase;
                    font-weight: bolder;
                }

                p{
                    font-size: .7em;
                    line-height: 20px;
                }
            }

            .input-submit{
                width: 100%;
                border: 0px;
                text-transform: uppercase;
                color: $color-white;
                background: $dark-primary;
                font-size: 2em;
                font-weight: bolder;
                padding: 20px;
                margin-top: 20px;
                text-align: left;
            }
        }
    }
}


//contact

.contacts{
    width: 90%;
    margin: auto;
    font-family: $font-secondary;

    h3{
        font-weight: bolder;
        color: $dark-primary;
        font-size: 1.8em;
        margin:30px 0px;
        text-transform: uppercase;
    }

    p{
        color: $color-dark;
        line-height: 25px;
    }

    address{
        background:$background-primary;
        margin-bottom: 20px;
        padding: 25px;
        color: $dark-primary;
        font-size: 1.1em;
        font-weight: bolder;
        line-height: 30px;
        word-wrap: break-word;

        h5{
            color: $primary;
            font-weight: bolder;
            font-size: 1.4em;
            text-transform: uppercase;
            line-height: 30px;
        }
    }
}


//footer
.footer{
    background: $primary;
    padding: 50px 0px;
    font-family: $font-primary;

    .wrap{
        width: 90%;
        margin: 0 auto;
        color: $dark-primary;

        .text{
            margin: 30px 0px;
            
            font-weight: bolder;
            line-height: 25px;
            font-size: 1.1em;

            span{
                text-decoration: underline;
            }
        }
    }
}