@import 'reset';
@import 'variable';
@import 'mixins/flexbox'; //$direction, $justify,$align

//Header
.header{
    @include flexbox(row, space-between , center);
    height: 80px;
    max-width: 100% !important;
    width: 90%;
    margin: auto;
    
    .wrap{
        max-width: 90%;
    }
    
    .logo{
        width: 100px;
    }


    .burgher-menu{
        width:30px;
        height: 30px;
        @include flexbox(row, flex-end, center);
        
        .bar{
            height: 5px;
            background-color: $primary;
            transition: 0.4s;
            border-radius: 3px;
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transition-duration: 1s;
            -webkit-transform: rotate(0deg) translate(0px, 0px);

            &:nth-child(1){
                width: 70%;
            }
            &:nth-child(2){
                width: 100%;
            }
            &:nth-child(3){
                width: 50%;
            }
        }
    }
}

//Burgher Nav
.burgher-nav{
    width: 100%;
    @include flexbox(row, flex-end, center);

    ul{
        width:90%; 
        padding: 25px;
        background: $dark-primary;
        color: $color-light;
        font-family: $font-primary;

        //momentaneo
        display: none;

        .item{
            line-height: 40px;

            &:nth-child(1), &:nth-child(3){
                &::after{
                    margin-left: 5px;
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f107";
                }
            }

           &:last-child{
                color: $primary;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .secondary-item{
            line-height: 40px;
            &:nth-child(2){
                color: $primary;
            }
        }
    }
}



//Jumbotron
.jumbotron{
    width: 100%;
    height: 480px;
    @include flexbox(row, flex-start, center);
    background-image: url(../img/particels.png);
    background-size: cover;
    font-family: $font-primary;
    color: $color-white;
    font-family: $font-secondary;
    position: relative;
    
    .wrap{
        width: 90%;
        margin: auto;

        h1{
            font-size: 3em;
            padding: 10px 0px 5px 0px;
        }

        h3{
            font-size: 1.5em;
            text-transform: uppercase;
        }

        p{
            font-size: 1.6em;
            padding: 40px 0px 40px 0px;
            text-transform: uppercase;
            
        }
    }

    .sponsor{
        width: 100%;
        position: absolute;
        bottom: -5px;
        text-align: center;
        span{
            text-transform: uppercase;
            background: $primary;
            padding: 40px 40px;

            &::after{
                margin-left: 5px;
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f101";
            }
        }
    }
}



//First section
.first-section{
    width: 90%;
    margin: 80px auto 0px auto;
    font-family: $font-primary;
    
    h3{
        font-weight: bold;
        color: $dark-primary;
        font-size: 2em;
        margin-bottom: 30px;
    }

    p{
        color: $color-dark;
        line-height: 1.5em;
        margin-bottom: 40px;        
    }
    


    img{
        max-width: 100%;
        object-fit: cover;
        margin: 40px 0px 0px 0px;
    }
}