
$primary: #42dcd4;
$dark-primary: #232349;



//font-color
$color-light: #d3d3db;
$color-white: #fff;

//font-typography
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;